body {
  background-color: #7be6d3;
}
h1 {
  text-align: center;
  margin-top: 20px;
}

tr td {
  border: none;
}

input, textarea {
  margin-left: 3px;
}

.form {
  padding: auto;
  border: 2px solid black;
}
table {
  margin: auto;
}
