body {
	font-family: Arial;
}

	.navigasi {
	padding: 20px 30px;
	background-color: black;
	margin: -8px;
	color: white;
	overflow: auto;
}
input {
	float: right;
}
nav a {
color: white;
margin-left: 10px;
text-decoration: none;
}

.bagian {
	position: relative;
	display: inline-block;
	padding: 0px;
	margin: auto;
}

#menu {
	float: left;
}

.content{padding: 20vh 10vw;
	text-align:center;
	font-size:150%;
}
#logo, #cari {
	float: right;
}
#konten {
	padding: 20px;
}
#b1 {
	background-color: #47c747;
}
#b2 {
	background-color: #47a4c7;
}
#b3 {
	background-color: #c75347;
}
.judul {
	padding: 10px 5px 0px 0px ;
	border-bottom: 1px solid black;
}
.box {
	width: 30%;
	padding: 20px;
	display: inline-block;
	text-align: center;
	overflow: auto;
	height: 70vh;
}
.box p {
	text-indent: 40pt;
	text-align: justify;
}
.image {
	margin: auto;
}
.gambar {
	height: 100px;
	width: 100px;
	border: 2px solid black;
	border-radius: 60px;
}
#footer {
	background-color: black;
	color: white;
	padding: 10px 100px;
}
#semangat {
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}
#cover {
	color: white;
	background: linear-gradient(rgba(0,0,0,0.8), rgba(0, 0, 0, 0.8)), url('../images/background.png');
	background-size: cover;
	background-repeat: no-repeat;
}
footer {text-align: center;}
