html {
	scroll-behavior: smooth;
}
 body {
	font-family: monospace;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/backhead.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0px;

 }
 .sosial-media {
	border: 2px solid white;
	border-radius: 30px;
	color: white;
	text-decoration: none;
	height: 150px;
	width: 150px;
	margin: 0px 20px;
	-webkit-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
 }

 .sosial-media:hover {
	width: 20%;
	height: 20%;
 }

 #body_profile {
	font-family: monospace;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/cover2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0px;

 }

 #gambar-profil {
	float: left;
	border: 5px solid white;
	border-radius: 100px;
	margin-right: 30px;
 }

 .timeline {
	margin: 20vh 0vw;
 }
 .header {
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	color: white;
	padding: 35vh 0vh;
 }
 #hobby {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/hobby.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
 }
 #musik {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/musik.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 45vh;
 }
 .content {
	color: white;
	font-size: 150%;
	padding: 5vh;
	text-align: center;
	margin: 0px -8px;
 }

 .timeline-content {
	display: inline-block;
	width: 30vw;
 }
  .timeline-content-2 {
	vertical-align: middle;
	display: inline-block;
	width: 70vw;
 }

 .timeline-content-2 a {
	text-decoration: none;
 }

 .menu a {
	-webkit-transition: font-size 0.5s;
	transition: font-size 0.5s;
 }
 .menu a:hover {
	font-size: 180%;
 }

 .menu_center a {
	-webkit-transition: font-size 0.5s;
	transition: font-size 0.5s;
 }
 .menu_center a:hover {
	font-size: 120%;
 }

 .box {
	width: 200px;
	height: 150px;
	vertical-align: middle;
	border-radius: 50px;
	margin: 10px 50px;
	display: inline-block;
	padding: 50px;
	border: 2px solid white;
	-webkit-transition: height 0.5s, font-size 0.5s;
	transition: height 0.5s, font-size 0.5s;
 }
 .box:hover {
	font-size: 110%;
	height: 20%;
 }
 .box h1 {
	margin-bottom: 30px;
 }

 .logo {
	float: left;
	margin-left: 50px;
	margin-top: 20px;
 }
 footer h3 {
	font-size: 100%;
	padding-bottom: 5px;
	border-bottom: 2px solid white;
 }
 .shape-logo {
	color: white;
	text-decoration: none;
	background-color: linear-gradient(purple, grey);
	padding: 10px;
	border: 5px solid white;
	border-radius: 20px;
 }
 .transparan {
	background: transparent;
 }
 .nav {
	padding: 20px;
 }
 .menu ul {
	display: inline-block;
	list-style: none;
	float: right;
	margin-right: 50px
 }
 .menu li {
	margin: 10px;
	display: inline;
 }

 .menu_center ul {
	display: inline-block;
	list-style: none;
	margin-right: 50px
 }
 .menu_center li {
	margin: 10px;
	display: inline;
 }
 .menu_center a {
	color: white;
	text-decoration: none;
	padding-bottom: 5px;
	border-bottom: 1px solid white;
 }

 .url {
	font-size: 20px;
	text-decoration: none;
	color: white;
 }
 .footer {
	background: transparent;
	padding: 40px;
	text-align: center;
	color: white;
 }
