
body {
	font-family: arial;
	padding: 0px 30px;
}

nav {
	background-color: red;
}
nav a, li a {
	color: white;
	text-decoration: none;
}
main {
	background-color: #008df1;
	color: white;
	padding: 40px
}


header {
	text-align: center;
	padding: 20px;
}
nav {
	text-align: center;
	padding: 20px;
	margin-bottom: 10px;
}

nav ul {
	list-style: none;
}
ul li {
	display: inline-block;
	margin: 0px 30px;
}
section {
	background-color: blue;
	padding: 4px 60px;
	display: block;
}
aside {
	margin-left: 20px;
	background-color: green;
	width: 200px;
	display: block;
	float: right;
	padding: 0px 60px;
	height: 300px;
}

footer {
	color: white;
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #4ac53b;
}
footer p {
	text-align: center;
}
