* {
  font-family: arial;
}
body {
  background-image: url('../background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
p {
  font-size: 120%;
}
#header {
  text-align: Center;
  padding: 20px;
  padding-bottom: 2px;
  border-bottom: 2px solid white;
  margin: 0px 20px;
}
#content {

}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
th {
  padding: 30px
  border-bottom: 2px solid white;
  background-color: #101010;
}
td {
  border-bottom: 1px solid white;
  background-color: #4c4a4a;
}
table th {
  padding: 15px;
}
#tabel {
  padding: 10px;
  margin: 20px;
  margin-top: 30px;
}
footer {
  padding: 20px;
  text-align: center;
}
#identitas {
  display: table;
  margin: auto;
  margin-top: 20px;
}
