body {
  background-color: #373737;
  margin-top: 0px;
  font-family: arial;
}

header {
  background-image: url("background.jpg");
  background-position: center center;
  background-size: cover;
  background-color: black;
  opacity: 0.8;
  color: white;
  text-align: center;
  padding: 90px 0px;
}

header h1 {
  font-size: 42px;
}

#nav {
  text-align: right;
  background-color: #373737;
  color: white;
  border: solid white 2px;
  border-top: 0px;
}
nav {
  margin-right: 60px;
  padding: 40px 0px 40px 0px;
  display: inline-block;
}
nav a {
  color: white;
  margin-left: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  text-decoration: none;
}
.box {
  float: left;
  padding: 20px 100px;
}

footer {
  display: inline-block;
  color: white;
  padding: 20px 50px;
  border-top: solid white 2px;
  background-color: #373737;
  margin:0px 20px;
}
